<h1>Social todo app for cpsc113</h1>

{{#if errors}}
<ul style="color:red" class="errors">
  {{#each errors}}
    {{this}}
  {{/each}}
</div>
{{/if}}

{{#if currentUser}}
    <h2 class="welcome">Welcome, {{currentUser.name}}</h2>
    <div>
        <h4>Your Tasks</h4>

        {{#if tasks}}
            <ul class="tasks">
            {{#each tasks}}
            {{/each}}
            </ul>
        {{else}}
            No tasks to show!
        {{/if}}
    </div>
    <hr>
    <div>
        <h4>Add a new task</h4>
        </form>
    </div>

{{else}}
<div class="login">
  <form action="/user/login" method="post">
  <fieldset>
    <legend>Login </legend>
    Email:<t> <input type="text" name="email" id="email" value="">
      <br>
    Password:<t> <input type="text" name="password" id="password" value="">
      <br>
    <input type="submit" value="Submit">
  </fieldset>
  </form>
</div>

<div><hr></div>

<div class="register">
  <form action="/user/register" method="post">
  <fieldset>
    <legend>New User? Register Here:</legend>
      <input type="text" name="name" id="name" value="First, Last">
      <input type="text" name="email" id="email" value="Email Address">
      <input type="text" name="password" id="password" value="Password">
      <input type="text" name="passwordConfirmation" id="passwordConfirmation" value="Confirm Password">
      <input type="submit" value="Submit">
  </fieldset>
  </form>



</div>
{{/if}}
